.content {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    box-sizing: border-box;
}

.login-form {
    max-width: 340px;
    padding: 0 15px 15px 15px;
    margin: 0 auto 2rem auto;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: center;
}

input {
    width: 300px;
    height: 25px;
    border: 2px black solid;
    border-radius: 6px;
}

.error {
    color: #6b1922;
    background-color: #f7d5d7;
    border-color: #eab6bb;
    padding: 0.75rem 1rem 0.75rem 30px;
    margin-bottom: 1rem;
    line-height: 1.5;
    border-radius: 0.1rem;
    width: 100%;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;"
}

.screenreader {
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.submit-button {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border: none;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #06f;
}